body {
    font-family: 'Lato', sans-serif;
}
.img-rounded {
    height: 55px;
    border-radius: 30px;
}
.loginName {
    font-size: 23px;
}
.repoUserList{
    background-color: #d8d6d6;  
}
.repoInfo {
    background-color: #f1f1edfb;  
}
.repoDetailsBtn {
    margin-top: 60px;
}
.pagination {
    float: right;
}
.searchBox {
    background-color: #4886ce;
}
.heading {
    text-align: center;
}
