<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
        <div class="form-group">
          <select class="form-control" id="searchUser">
            <option value="name">Sort By Name</option>
            <option value="nameAZ">Name (A-Z)</option>
            <option value="nameZA">Name (Z-A)</option>
            <option value="nameAsc">Rank ASC</option>
            <option value="nameDsc">Rank DSC</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
          <div class="input-group">
            <input type="text" [(ngModel)]="githubUserName" class="form-control" placeholder="Search">
            <div class="input-group-btn">
              <button class="btn btn-default" (click) = "searchGithubUser()" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </div>
          </div>
      </div>
  </div>
</div>